<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
  <mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ElementoMapper">
  <resultMap type='Elemento' id='ElementoResult'>
    <id property='id' column='id' />
    <result property='tipo' column='tipo' />
    <result property='nombre' column='nombre' />
    <result property='disponible' column='disponible' />
  </resultMap>
  
 <insert parameterType="map" id="registrarElementoEquipo">
    INSERT INTO elemento (id, tipo, nombre, disponible, numEquipo) 
    VALUES ( #{id}, #{tipo}, #{nombre}, #{elemento.disponible}, #{nequipo});
  </insert>
  
  <insert parameterType="map" id="registrarElemento">
    INSERT INTO elemento (id, tipo, nombre, disponible) 
    VALUES ( #{id}, #{tipo}, #{nombre}, #{elemento.disponible});
  </insert> 
</mapper>
