<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
  <mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.EquipoMapper">
  <resultMap type='Equipo' id='EquipoResult'>
    <id property='numero' column='numero' />
    <result property='marca' column='marca' />
    <result property='disponible' column='disponible' />
    <association property="usuario" resultMap='edu.eci.cvds.persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult'></association>
    <collection property='elementos' ofType='Elemento' resultMap='edu.eci.cvds.persistence.mybatisimpl.mappers.ElementoMapper.ElementoResult' columnPrefix='elem_'></collection>    
  </resultMap>
 
  <select parameterType="map" id="consultarEquipos" resultMap="EquipoResult">
  SELECT
      e.numero,
      e.marca,
      e.disponible,
    FROM equipo as e
    LEFT JOIN usuario AS u ON e.usuario_idCorreo = u.idCorreo
  </select>
  
  <select parameterType="map" id="consultarEquipo" resultMap="EquipoResult">
  SELECT
      e.numero,
      e.marca,
      e.disponible,
    FROM equipo as e
    LEFT JOIN usuario AS u ON e.usuario_idCorreo = u.idCorreo
    WHERE e.numero = #{nequipo}
  </select>
  
  <insert parameterType="map" id="registrarEquipo">
    INSERT INTO equipo (marca, disponible, usuario_idCorreo) 
    VALUES ( #{marca}, #{equipo.disponible}, #{uidcorreo});
  </insert>
  
  <select parameterType="map" id="consultarElementosEquipo" resultMap="EquipoResult">
   SELECT
   	  e.usuario_idCorreo
      el.id,
      el.tipo,
      el.nombre,
      el.disponible,
      el.numEquipo,
    FROM equipo AS e
    LEFT JOIN elemento AS el ON e.numero = el.numEquipo
    WHERE e.numero = #{nequipo}
  </select> 
</mapper>
