<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.NovedadMapper">
	<resultMap type='Novedad' id='NovedadResult'>
	  <id property='id' column='id' />
	  <result property='titulo' column='titulo' />
	  <result property='fecha' column='fecha' />
	  <result property='detalle' column='detalle' />
	  <association property="responsable" resultMap='edu.eci.cvds.persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult'></association>
	</resultMap>
	
	<resultMap type='ReporteNovedadDTO' id='ReporteNovedadResult'>
      <id property='id' column='id' />
      <result property='titulo' column='titulo' />
      <result property='fecha' column='fecha' />
      <result property='detalle' column='detalle' />
      <result property='nombreEq' column='nombreEq' />
      <result property='nombreElem' column='nombreElem' />
      <result property='nombreLab' column='nombreLab' />
  	</resultMap>
	
	<insert parameterType="map" id="registrarNovedadLaboratorio">
	   INSERT INTO novedad (titulo, fecha, responsable, detalle, nombreLab) 
	   VALUES (#{titulo}, #{fecha}, #{resp}, #{detalle}, #{nLab});
	</insert>
	
	<insert parameterType="map" id="registrarNovedadEquipo">
	   INSERT INTO novedad (titulo, fecha, responsable, detalle, nombreEq, nombreLab) 
	   VALUES (#{titulo}, #{fecha}, #{resp}, #{detalle}, #{nEquip}, #{nLab});
	</insert>
	
	<insert parameterType="map" id="registrarNovedadElemento">
	   INSERT INTO novedad (titulo, fecha, responsable, detalle, nombreEq, nombreElem) 
	   VALUES (#{titulo}, #{fecha}, #{resp}, #{detalle}, #{nEq}, #{nElem});
	</insert>
	 
  	<select parameterType="map" id="consultarNovedadLaboratorios" resultMap="ReporteNovedadResult">
	  SELECT
	  	n.id,
	  	n.titulo,
	  	n.fecha,
	  	n.detalle,
	  	n.nombreLab,
	  	u.idcorreo
       FROM novedad AS n
       LEFT JOIN usuario AS u
       ON u.idcorreo = n.responsable
       WHERE n.nombreLab is not null
   	</select>
   	
   	<select parameterType="map" id="consultarNovedadEquipos" resultMap="ReporteNovedadResult">
	  SELECT
	  	n.id,
	  	n.titulo,
	  	n.fecha,
	  	n.detalle,
	  	n.nombreeq,
	  	n.nombreelem,
	  	u.idcorreo
       FROM novedad AS n
       LEFT JOIN usuario AS u
       ON u.idcorreo = n.responsable
       WHERE n.nombreeq is not null
       ORDER BY n.id DESC;
   	</select>
   	
    <select parameterType="map" id="consultarNovedadElementos" resultMap="ReporteNovedadResult">
	  SELECT
	  	n.id,
	  	n.titulo,
	  	n.fecha,
	  	n.detalle,
	  	n.nombreelem,
	  	u.idcorreo
       FROM novedad AS n
       LEFT JOIN usuario AS u
       ON u.idcorreo = n.responsable
       WHERE n.nombreelem is not null
       ORDER BY n.id DESC;
   	</select>
   
   <select parameterType="map" id="consultarNovedadesEquipo" resultMap="NovedadResult">
	  SELECT
	  	n.id,
	  	n.titulo,
	  	n.fecha,
	  	n.detalle,
	  	n.nombreEq,
	  	u.idcorreo
       FROM novedad AS n
       LEFT JOIN usuario AS u
       ON u.idcorreo = n.responsable
       WHERE n.nombreEq = #{equipoNombre}
       ORDER BY n.id DESC;
   </select>
   
   <select parameterType="map" id="consultarNovedadesElemento" resultMap="NovedadResult">
	  SELECT
	  	n.id,
	  	n.titulo,
	  	n.fecha,
	  	n.detalle,
	  	n.nombreelem,
	  	u.idcorreo
       FROM novedad AS n
       LEFT JOIN usuario AS u
       ON u.idcorreo = n.responsable
       WHERE n.nombreelem = #{elementoNombre}
   </select>
   
    <select parameterType="map" id="consultarNovedadesLaboratorio" resultMap="NovedadResult">
	  SELECT
	  	n.id,
	  	n.titulo,
	  	n.fecha,
	  	n.detalle,
	  	n.nombrelab,
	  	u.idcorreo
       FROM novedad AS n
       LEFT JOIN usuario AS u
       ON u.idcorreo = n.responsable
       WHERE n.nombrelab = #{laboratorioNombre}
   </select>
   
</mapper>
