<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.NovedadMapper">
	<resultMap type='Novedad' id='NovedadResult'>
	  <id property='id' column='id' />
	  <result property='titulo' column='titulo' />
	  <result property='fecha' column='fecha' />
	  <result property='detalle' column='detalle' />
	  <association property="responsable" resultMap='edu.eci.cvds.persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult'></association>
	</resultMap>
	
	<insert parameterType="map" id="registrarNovedadLaboratorio">
	   INSERT INTO novedad (titulo, fecha, responsable, detalle, nombreLab) 
	   VALUES (#{titulo}, #{fecha}, #{resp}, #{detalle}, #{nLab});
	</insert>
	
	<insert parameterType="map" id="registrarNovedadEquipo">
	   INSERT INTO novedad (titulo, fecha, responsable, detalle, numEquipo) 
	   VALUES (#{titulo}, #{fecha}, #{resp}, #{detalle}, #{nEquip});
	</insert>
	
	<insert parameterType="map" id="registrarNovedadElemento">
	   INSERT INTO novedad (titulo, fecha, responsable, detalle, idElem) 
	   VALUES (#{titulo}, #{fecha}, #{resp}, #{detalle}, #{idElem});
	</insert>
	 
  	<select parameterType="map" id="consultarNovedadLaboratorios" resultMap="NovedadResult">
	  SELECT
	  	n.id,
	  	n.titulo,
	  	n.fecha,
	  	n.responsable,
	  	n.detalle,
	  	n.nombreLab
       FROM novedad AS n
       WHERE n.nombreLab != null
   	</select>
   	
   	<select parameterType="map" id="consultarNovedadEquipos" resultMap="NovedadResult">
	  SELECT
	  	n.id,
	  	n.titulo,
	  	n.fecha,
	  	n.responsable,
	  	n.detalle,
	  	n.numEquipo
       FROM novedad AS n
       WHERE n.numEquipo != null
   </select>
   
   <select parameterType="map" id="consultarNovedadElementos" resultMap="NovedadResult">
	  SELECT
	  	n.id,
	  	n.titulo,
	  	n.fecha,
	  	n.responsable,
	  	n.detalle,
	  	n.idElem
       FROM novedad AS n
       WHERE n.idElem != null
   </select>
</mapper>
