<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <properties resource="config.properties"></properties>

    <typeAliases>
        <typeAlias type='edu.eci.cvds.entities.Usuario' alias='Usuario'/>
        <typeAlias type='edu.eci.cvds.entities.Equipo' alias='Equipo'/>
        <typeAlias type='edu.eci.cvds.entities.Elemento' alias='Elemento'/>
        <typeAlias type='edu.eci.cvds.entities.Laboratorio' alias='Laboratorio'/>
        <typeAlias type='edu.eci.cvds.entities.Novedad' alias='Novedad'/>
        <typeAlias type='edu.eci.cvds.entities.ReporteEquipoDTO' alias='ReporteEquipoDTO'/>
		<typeAlias type='edu.eci.cvds.entities.ReporteElementoDTO' alias='ReporteElementoDTO'/>
		<typeAlias type='edu.eci.cvds.entities.ReporteNovedadDTO' alias='ReporteNovedadDTO'/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}"/>
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/UsuarioMapper.xml"></mapper>
        <mapper resource="mappers/EquipoMapper.xml"></mapper>
        <mapper resource="mappers/ElementoMapper.xml"></mapper>
        <mapper resource="mappers/LaboratorioMapper.xml"></mapper>
        <mapper resource="mappers/NovedadMapper.xml"></mapper>
    </mappers> 
        
</configuration>
