body{
	background: url(bg.jpg) no-repeat fixed center;
	margin: 0;
	padding: 0;
	background-size: 100% 100%;
}

.en-sesion{
  height: 65px;
  background: #900;
}

.en-sesion .submit{
  background: #900;
  outline: none;
  border: none;
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 20px;
  left: 90%;
}

.en-sesion .imagen{
	position: absolute;
	left: 40%;
	height: 65px;
	width: 300px;
}

.en-sesion .submit2{
  background: #900;
  outline: none;
  border: none;
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 20px;
  left: 84%;
}

.h1{
	position: absolute;
	top: 15%;
	left: 40%;
	color: #fff;
}

.separat{
	position: absolute;
	top: 15%;
	left: 50%;
}

.tabla{
	position: absolute;
	top: 30%;
	left: 27%;
	width: 45%;
}

.columna{
	background: #900;
	color: #fff;
}

.darBajaEl{
	position: absolute;
	top: 75%;
	left: 35%;
	background: #900;
	color: #fff;
	border: none;
}

.h2{
	position: absolute;
	top: 15%;
	left: 47%;
	color: #fff;
}

.tabla2{
	position: absolute;
	top: 30%;
	left: 28%;
	width: 45%;
}

.botonTabla{
	position: absolute;
	top: 85%;
	left: 63%;
	background: #900;
	color: #fff;
	border: none;
}

.botonTabla2{
	position: absolute;
	top: 85%;
	left: 74%;
	background: #900;
	color: #fff;
	border: none;
}

.tabla3{
	position: absolute;
	top: 30%;
	left: 28%;
	width: 45%;
}

.despliegue{
	position: absolute;
	top: 30%;
	left: 67%;
}

.botonBajaEq{
	position: absolute;
	top: 75%;
	left: 45%;
	background: #900;
	color: #fff;
	border: none;
}

.siguiente{
	position: absolute;
	top: 85%;
	left: 47.5%;
	background: #900;
	color: #fff;
	border: none;
}

.quitarasociacion{
	position: absolute;
	top: 75%;
	left: 55%;
	background: #900;
	color: #fff;
	border: none;
}
