body{
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
}

.en-sesion{
  height: 30px;
  background: #900;
}

.en-sesion .submit{
  background: #900;
  outline: none;
  border: none;
  color: #fff;
  font-size: 13px;
  position: absolute;
  top: 5px;
  left: 90%;
}

.en-sesion1{
  width: 50%;
  height: 100%;
  position: absolute;
  background: #fff;
}

.en-sesion1 .imagen{
  position: absolute;
  top: 25%;
  left: 15%;
  width: 450px;
  height: 400px;
  border-radius: 20px;
}

.en-sesion2{
  left: 50%;
  width: 50%;
  height: 100%;
  background: #fff;
  position: absolute;
}

.en-sesion3{
  width: 500px;
  height: 600px;
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-15%, -55%);
  box-sizing: border-box;
  padding: 70px 30px;
  background: #900;
  border-radius: 20px;
}

.en-sesion3 .h1{
  position: absolute;
  color: #fff;
  top: 0%;
  left: 25%;
  text-align: center;
  font-size: 80px;
}

