body{
	background: url(bg.jpg) no-repeat fixed center;
	margin: 0;
	padding: 0;
	background-size: 100% 100%;
}



.en-sesion{
  height: 65px;
  background: #900;
}

.en-sesion .submit{
  background: #900;
  outline: none;
  border: none;
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 20px;
  left: 90%;
}

.en-sesion .imagen{
	position: absolute;
	top: 0%;
	left: 38%;
	height: 65px;
	width: 300px;
}

.en-sesion .submit2{
  background: #900;
  outline: none;
  border: none;
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 20px;
  left: 84%;
}

.h1{
	color: #fff;
}

.imagen{
	position: absolute;
	top: 18%;
	left: 42%;
	height: 180px;
	width: 200px;
}

.imagen2{
	position: absolute;
	top: 18%;
	left: 40%;
	height: 180px;
	width: 225px;
}

.imagen3{
	position: absolute;
	top: 15%;
	left: 65%;
	height: 210px;
	width: 225px;
}

.imagen4{
	position: absolute;
	top: 13%;
	left: 12%;
	height: 200px;
	width: 360px;
}

.input{
	position: absolute;
	left: 25%;
	top: 43%;
}

.input2{
	position: absolute;
	left: 57%;
	top: 43%;
}

.input3{
	position: absolute;
	left: 42%;
	top: 35%;
}

.boton{
	position: absolute;
	left: 5%;
	top: 65%;
	background: #900;
	color: #fff;
	border: none;
}


.botonDisp{
	position: absolute;
	left: 93%;
	top: 85%;
	background: #900;
	color: #fff;
	border: none;
}

.boton1{
	position: absolute;
	left: 46%;
	top: 90%;
	background: #900;
	color: #fff;
	border: none;
}

.boton2{
	position: absolute;
	left: 47%;
	top: 25%;
	background: #900;
	color: #fff;
	border: none;
}

.tabla{
	position: absolute;
	left: 15%;
	top: 53%;
	width: 70%;
}

.tabla2{
	position: absolute;
	left: 5%;
	top: 43%;
	width: 43%;
}

.tabla3{
	position: absolute;
	left: 53%;
	top: 43%;
	width: 43%;
}

.elemDispo{
	position: absolute;
	left: 58%;
	top: 43%;
	width: 37%;
}

.elemRegis{
	position: absolute;
	left: 5%;
	top: 44%;
	width: 37%;
	color: #900;
}

.separat{
	position: absolute;
	left: 50%;
	top: 44%;
	
}

.ui-datatable-header{
	background: #900;
	color: #fff;
}

.ui-panel-header{
	background: #900;
	color: #fff;
}

.columna{
	background: #900;
	color: #fff;
}


