body {
  background: url(bg.jpg) no-repeat fixed center;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
}

.en-sesion {
  height: 65px;
  background: #900;
}

.en-sesion .submit {
  background: #900;
  outline: none;
  border: none;
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 20px;
  left: 90%;
}

.en-sesion .imagen {
  position: absolute;
  left: 40%;
  height: 65px;
  width: 300px;
}

.en-sesion .submit2 {
  background: #900;
  outline: none;
  border: none;
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 20px;
  left: 84%;
}

.h1 {
  position: absolute;
  top: 15%;
  left: 55%;
  color: #fff;
}

.separat {
  position: absolute;
  top: 25%;
  left: 50%;
}

.tabla {
  position: absolute;
  top: 30%;
  left: 27%;
  width: 45%;
}

.columna {
  background: #900;
  color: #fff;
}

.h2 {
  position: absolute;
  top: 15%;
  left: 60%;
  color: #fff;
}

.tabla2 {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 30%;
}

.h3 {
  position: absolute;
  top: 15%;
  left: 45%;
  color: #fff;
}

.botonTabla {
  position: absolute;
  top: 85%;
  left: 63%;
  background: #900;
  color: #fff;
  border: none;
}

.botonTabla2 {
  position: absolute;
  top: 85%;
  left: 74%;
  background: #900;
  color: #fff;
  border: none;
}

.elementoimg {
  position: absolute;
  left: 8%;
  top: 25%;
  height: 400px;
  width: 380px;
}

.tabla3 {
  position: absolute;
  top: 30%;
  left: 42%;
  width: 45%;
}

.tabla4 {
  position: absolute;
  top: 30%;
  left: 60%;
  width: 30%;
}

.despliegue {
  position: absolute;
  top: 30%;
  left: 67%;
}

.botonBajaEq {
  position: absolute;
  top: 75%;
  left: 20%;
  background: #900;
  color: #fff;
  border: none;
}

.siguiente {
  position: absolute;
  top: 85%;
  left: 20.8%;
  background: #900;
  color: #fff;
  border: none;
}

.darBajaEl {
  position: absolute;
  top: 85%;
  left: 70%;
  background: #900;
  color: #fff;
  border: none;
}

.quitarasociacion {
  position: absolute;
  top: 85%;
  left: 50%;
  background: #900;
  color: #fff;
  border: none;
}
