body{
  background: url(bg.jpg) no-repeat fixed center;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
}

.en-sesion{
  height: 65px;
  background: #900;
}

.en-sesion .submit{
  background: #900;
  outline: none;
  border: none;
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 20px;
  left: 90%;
}

.en-sesion .imagen{
	position: absolute;
	left: 38%;
	height: 65px;
	width: 300px;
}

.h1{
  color: #fff;
  position: absolute;
  top: 10%;
  left: 40%;
  text-align: center;
  font-size: 80px;
}

.en-sesion1{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 15%;
  background: #900;
}

.en-sesion1 .imagen{
  position: absolute;
  height: 100%;
  width: 100%;
}

.boton{
  color: #fff;
  position: absolute;
  top: 67%;
  left: 15%;
  height: 50px;
  width: 200px;
  background: #900;
  font-size: 20px;
  border: none;
}

.en-sesion2{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 35%;
  background: #900;
}

.en-sesion2 .imagen{
  position: absolute;
  height: 100%;
  width: 100%;
}

.boton2{
  color: #fff;
  position: absolute;
  top: 67%;
  left: 35%;
  height: 50px;
  width: 200px;
  background: #900;
  font-size: 20px;
  border: none;
}

.en-sesion3{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 55%;
  background: #900;
}

.en-sesion3 .imagen{
  position: absolute;
  top: 3%;
  height: 80%;
  width: 100%;
}

.boton3{
  color: #fff;
  position: absolute;
  top: 75%;
  left: 15%;
  height: 50px;
  width: 200px;
  background: #900;
  font-size: 20px;
  border: none;
}
  
.en-sesion4{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 75%;
  background: #900;
}

.en-sesion4 .imagen{
  position: absolute;
  height: 100%;
  width: 93%;
  left: 5%;
}

.boton4{
  color: #fff;
  position: absolute;
  top: 75%;
  left: 35%;
  height: 50px;
  width: 200px;
  background: #900;
  font-size: 20px;
  border: none;
}

.boton5{
  color: #fff;
  position: absolute;
  top: 67%;
  left: 55%;
  height: 50px;
  width: 200px;
  background: #900;
  font-size: 20px;
  border: none;
}

.boton6{
  color: #fff;
  position: absolute;
  top: 75%;
  left: 55%;
  height: 50px;
  width: 200px;
  background: #900;
  font-size: 20px;
  border: none;
}

.boton7{
  color: #fff;
  position: absolute;
  top: 67%;
  left: 75%;
  height: 50px;
  width: 200px;
  background: #900;
  font-size: 20px;
  border: none;
}

.boton8{
  color: #fff;
  position: absolute;
  top: 75%;
  left: 75%;
  height: 50px;
  width: 200px;
  background: #900;
  font-size: 20px;
  border: none;
}


